@model PaginatedList<Bingol.Models.Orderdetail>
@{
    ViewData["Title"] = "Orders";
}

<div class="container-fluid">
    <div class="row">
        <partial name="_PartialAdminNav.cshtml" />
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 profile-tab">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th scope="col" class="text-start">Product</th>
                            <th scope="col" class="text-start">VARIATIONS</th>
                            <th scope="col" class="text-start">TrxId</th>
                            <th scope="col" class="text-start">ORDERED BY</th>
                            <th scope="col" class="text-start">DATE</th>
                            <th scope="col" class="text-start">PROCESS</th>
                            <th scope="col" class="text-start">TOTAL</th>
                            <th scope="col" class="text-start">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            List<string> var = new List<string>(obj.DetailName.Split(','));
                            <tr>
                                <td class="text-start small text-wrap">
                                    @obj.DetailProduct.ProductName
                                </td>
                                <td class="text-start small">
                                    Size: @var[0] Color: @var[1]
                                </td>
                                <td class="text-start small text-wrap">
                                  #@obj.DetailId ( @obj.DetailOrder.OrderTrackingNumber )
                                </td>
                                <td class="text-start small">
                                    @obj.DetailOrder.OrderUser.Email
                                </td>
                                <td class="text-start small">
                                    @obj.DetailOrder.OrderDate.ToString().Split()[0]
                                </td>
                                <td class="text-start small">
                                    @(obj.DetailOrder.OrderShipped == 1 ? "Delivered": "Processing")
                                </td>
                                <td class="text-start small">
                                    BDT @obj.DetailPrice for @obj.DetailQuantity item
                                </td>
                                <td class="text-start small">
                                    <div class="btn-group" role="group">
                                        <button type="button" value="@obj.DetailId" class="btn btn-warning btn-sm">Invoice</button>
                                        <a asp-action="UpdateOrder" asp-route-id="@obj.DetailOrderId" class="btn btn-success btn-sm">Modify</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @{
                var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                var nextDisabled = !Model.NextPage ? "disabled" : "";
            }
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end mt-3">
                    <li class="page-item @prevDisabled">
                        <a class="page-link" asp-action="Orders" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                    </li>
                    <li class="page-item text-dark @nextDisabled">
                        <a class="page-link" asp-action="Orders" asp-route-page="@(Model.PageIndex + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>