@model PaginatedList<Bingol.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<div class="container-fluid">
    <div class="row">
        <partial name="_PartialAdminNav.cshtml" />
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 profile-tab">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th scope="col" class="text-center">ID</th>
                            <th scope="col" class="text-center">PRODUCT NAME</th>
                            <th scope="col" class="text-center">CATEGORY</th>
                            <th scope="col" class="text-center">STOCK</th>
                            <th scope="col" class="text-center">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    #@obj.ProductId
                                </td>
                                <td class="text-center">
                                    @obj.ProductName
                                </td>
                                <td class="text-center">
                                    @obj.ProductCategory.CategoryName
                                </td>
                                <td class="text-center">
                                    @(obj.ProductStock == null ? 0 : obj.ProductStock)
                                </td>
                                <td class="text-center">
                                    <div class="btn-group" role="group">
                                        <button type="button" value="@obj.ProductId" class="btn btn-warning">Edit</button>
                                        <button type="button" value="@obj.ProductId" class="btn btn-danger">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @{
                var prevDisabled = !Model.PreviousPage ? "disabled" : "";
                var nextDisabled = !Model.NextPage ? "disabled" : "";
            }
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end mt-3">
                    <li class="page-item @prevDisabled">
                        <a class="page-link" asp-action="Products" asp-route-page="@(Model.PageIndex-1)">Previous</a>
                    </li>
                    <li class="page-item text-dark @nextDisabled">
                        <a class="page-link" asp-action="Products" asp-route-page="@(Model.PageIndex + 1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>