@model dynamic 
@{
    ViewData["Title"] = "Home Page";
}

<!-- courselHero-->
<div id="carouselHero" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselHero" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselHero" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselHero" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="~/images/beliaikin.jpg" class="d-block w-100" alt="beliaikin">

        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/images/fera.jpg" class="d-block w-100" alt="fera">
        </div>
        <div class="carousel-item">
            <img src="~/images/gabb-tapic.jpg" class="d-block w-100" alt="gabb-tapic">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHero" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHero" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<!-- courselHero-->
<!-- icons after hero-->
<div class="container mt-4 align-middle">
    <div class="row">
        <div class="col-sm">
            <div class="mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x text-warning"></i>
                            <i class="fa fa-thumbs-up fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">RATE US</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class=" mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x text-warning"></i>
                            <i class="fa fa-mail-bulk fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">CONTACT US</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <span class="fa-stack fa-3x">
                            <i class="fa fa-circle fa-stack-2x text-warning"></i>
                            <i class="fa fa-user fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">WORK WITH US</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- icons after hero-->
<!-- headline-->
<div class="container mt-5 d-flex justify-content-md-center hidder">
        <h1 class="pacifico">Featured</h1>
</div>
<!-- headline-->
<!-- seasonal more image-->
<div class="container mt-5 custom-center hidder">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/bertelli.jpg" class="rounded-circle" alt="bertelli" height="300" width="300">
        </div>
        <div class="col-md-4">
            <img src="~/images/tentis.jpg" class="rounded-circle" alt="tentis" height="300" width="300">
        </div>
        <div class="col-md-4">
            <img src="~/images/shivam.jpg" class="rounded-circle" alt="shivam" height="300" width="300">
        </div>
    </div>
</div>
<div class="container mt-5 d-md-flex justify-content-md-center hidder">
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Products" asp-action="Index"> More Seasonal + </a>
</div>
<!-- seasonal more image-->
<!-- new on this site-->
<div class="container mt-5">
    <h5>NEW ON THE SITE</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @foreach (var obj in Model.newOnthisSite)
            {
                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product" asp-route-id="@obj.ProductId">
                    <div class="item card product-card-owl">
                        <img src="@(obj.ProductImage.Length == 0 ? "/images/img_preview.png" : obj.ProductImage)" class="card-img card-img-top" alt="@obj.ProductName">
                        <div class="card-img-overlay">
                            <div class="d-flex justify-content-between align-items-start">
                                <span class="bg-info bg-gradient badge fw-bold text-white">New</span>
                                <span class="far fa-heart text-danger fa-2x text-decoration-none"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="btn btn-warning bg-gradient d-grid">Purchase Now</div>
                        </div>
                    </div>
                </a>
             }
        </div>
    </div>
</div>
<!-- new on this site-->
<!-- deals of the week-->
<div class="container mt-5">
    <h5>DEALS OF THE WEEK</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @foreach (var obj in Model.dealsOftheWeek)
            {
                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product" asp-route-id="@obj.ProductId">
                    <div class="item card product-card-owl">
                        <img src="@(obj.ProductImage.Length == 0 ? "/images/img_preview.png" : obj.ProductImage)" class="card-img card-img-top" alt="@obj.ProductName">
                        <div class="card-img-overlay">
                            <div class="d-flex justify-content-end align-items-start">
                                <span class="far fa-heart text-danger fa-2x text-decoration-none"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="btn btn-warning bg-gradient d-grid">Purchase Now</div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>

<!-- deals of the week-->
<!-- lets do the work-->
<div class="container mt-5 d-md-flex justify-content-md-center">
    <h1 class="pacifico">Let us do the work</h1>
</div>
<div class="container d-md-flex justify-content-md-center">
    <p class="fw-bold">We gathered items that you might need so you won't waste time</p>
</div>

<div class="container mt-5 overflow-hidden">
    <div class="d-flex justify-content-center">
        <div>
            <img src="~/images/tankilevitch.jpg" alt="tankilevitch" height="500" width="400"/>
        </div>
        <div>
            <img src="~/images/salvadori.jpg" alt="salvadori" height="500" width="400"/>
        </div>
    </div>
</div>
<!-- lets do the work-->