@model Bingol.Models.Product
@{
    ViewData["Title"] = Model.ProductName;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@(Model.ProductImage.Length == 0 ? "/images/img_preview_lg.png" : Model.ProductImage)" class="img-fluid" alt="fera">
        </div>
        <div class="col-md-6 mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Products</a></li>
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Dress</a></li>
                    <li class="breadcrumb-item active text-muted" aria-current="page">@Model.ProductName</li>
                </ol>
            </nav>
            <h3>@Model.ProductName</h3>
            <hr class="w-25" />
            <h4 class="fw-bold">BDT @Model.ProductPrice</h4>
            @if (Model.ProductLive != 0)
            {
                <p class="text-info bg-gradient badge bg-dark">In Stock</p>
                <div class="d-flex justify-content-around w-25">
                    <input type="button" value="-" class="decreaseVal btn-outline-dark btn">
                    <input type="number" min="1" max="@(Model.ProductStock)" value="1" class="val form-control text-center">
                    <input type="button" value="+" class="increaseVal btn-outline-dark btn">
                </div>
                <div class="d-flex justify-content-start">
                    <div>
                        <label class="form-label mt-3">Choose Size</label>
                        <select class="form-select product-dropdown" aria-label="option">
                            <option value="XS">XS</option>
                            <option value="SM">SM</option>
                            <option value="LG" selected>LG</option>
                            <option value="XXL">XXL</option>
                            <option value="XXXL">XXXL</option>
                        </select>
                    </div>
                    <div>
                        <label class="form-label mt-3 ms-3">Choose Color</label>
                        <select class="form-select ms-3 product-dropdown" aria-label="option">
                            <option value="XS">Green</option>
                            <option value="SM">Black</option>
                            <option value="LG" selected>Blue</option>
                        </select>
                    </div>
                </div>
            }
            else
            {
                <p class="text-danger bg-gradient badge bg-dark">Out of Stock</p>
            }
            <div class="d-flex justify-content-start">
                <button class="btn bg-gradient btn-warning btn-lg mt-4 me-4 buy-button product-buttons @(Model.ProductLive != 0 ? "": "disabled")" data-id="@(Model.ProductId)" data-bs-toggle="modal">Buy<span class="fa fa-shopping-bag ms-3"></span></button>
                <button class="btn bg-gradient btn-danger btn-lg mt-4 product-buttons">Wishlist <span class="far fa-heart ms-3"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addedCart" tabindex="-1" aria-labelledby="addedCartLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Successfully added</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning d-grid" type="button" data-bs-dismiss="modal" aria-label="Close">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <h4>Share this Product</h4>
    <div class="addthis_inline_share_toolbox mb-3"></div>
    <nav>
        <div class="nav nav-tabs bg-dark" id="nav-tab" role="tablist">
            <a class="nav-link text-uppercase text-warning active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
            <a class="nav-link text-uppercase text-warning" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-additional-info" role="tab" aria-controls="nav-additional-info" aria-selected="false">Additional information</a>
            <a class="nav-link text-uppercase text-warning" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</a>
        </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
            <p class="text-md-start">@Model.ProductLongDesc</p>
        </div>
        <div class="tab-pane fade" id="nav-additional-info" role="tabpanel" aria-labelledby="nav-additional-info-tab">
            <p class="text-md-start">
                <button class="btn btn-secondary me-3 product-buttons" disabled>Size</button>
                01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16, 17
            </p>
            <p class="text-md-start">
                <button class="btn btn-secondary me-3 product-buttons" disabled>Color</button>
                Green, Black, Blue
            </p>
        </div>
        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
            <div class="rounded-3 bg-light p-3">
                <div class="row justify-content-start">
                    <h1 class="pacifico">Reviews</h1>
                    <h5>Place an order to give reviews</h5>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-5">
                    <div class="col-md-3">
                        <h4><span class="bg-success bg-gradient badge">Best</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-3">
                    <div class="col-md-3">
                        <h4><span class="bg-primary bg-gradient badge">Better</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-3">
                    <div class="col-md-3">
                        <h4><span class="bg-info bg-gradient badge">Good</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-3">
                    <div class="col-md-3">
                        <h4><span class="bg-danger bg-gradient badge">Not Good</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h5>SIMILAR PRODUCTS</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @for (var i = 0; i < 14; i++)
            {
                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product">
                    <div class="card product-card-owl product-card-owl-lg">
                        <img src="~/images/fera.jpg" class="card-img card-img-top" alt="fera">
                        <div class="card-img-overlay">
                            <div class="d-flex justify-content-between align-items-start">
                                <span class="bg-info bg-gradient badge fw-bold text-white">-25%</span>
                                <span class="far fa-heart text-danger fa-2x text-decoration-none"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-decoration-none">Jack &amp; Jones Royal Streched Shirt</h5>
                            <p class="card-text text-muted">Black, Yellow, Navy Blue</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="fw-bold text-decoration-none">BDT 99.00</h5>
                                <div class="btn btn-warning bg-gradient">Buy<span class="fa fa-shopping-bag ms-3"></span></div>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>


<div class="container mt-5">
    <h5>MORE VARIENT PRODUCTS</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @for (var i = 0; i < 14; i++)
            {
                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product">
                    <div class="card product-card-owl product-card-owl-lg">
                        <img src="~/images/jaspereology.jpg" class="card-img card-img-top" alt="jaspereology">
                        <div class="card-img-overlay">
                            <div class="d-flex justify-content-between align-items-start">
                                <span class="bg-info bg-gradient badge fw-bold text-white">-25%</span>
                                <span class="far fa-heart text-danger fa-2x text-decoration-none"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-decoration-none">Jack &amp; Jones Royal Streched Shirt</h5>
                            <p class="card-text text-muted">Black, Yellow, Navy Blue</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="fw-bold text-decoration-none">BDT 99.00</h5>
                                <div class="btn btn-warning bg-gradient">Buy<span class="fa fa-shopping-bag ms-3"></span></div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>