@model dynamic
@{
    ViewData["Title"] = Model.Product.ProductName;
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@(Model.Product.ProductImage.Length == 0 ? "/images/img_preview_lg.png" : Model.Product.ProductImage)" class="img-fluid" alt="fera">
        </div>
        <div class="col-md-6 mt-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-muted" href="#">Products</a></li>
                    <li class="breadcrumb-item"><a class="text-muted" href="#">@Model.Product.ProductCategory.CategoryName</a></li>
                    <li class="breadcrumb-item active text-muted" aria-current="page">@Model.Product.ProductName</li>
                </ol>
            </nav>
            <h3>@Model.Product.ProductName</h3>
            <p>SKU: @Model.Product.ProductSku</p>
            <hr class="w-25" />
            <h4 class="fw-bold">BDT @Model.Product.ProductPrice</h4>
            @if (Model.Product.ProductLive != 0)
            {
                <p class="text-info bg-gradient badge bg-dark">In Stock</p>
                <div class="d-flex justify-content-around w-25">
                    <input type="button" value="-" class="decreaseVal btn-outline-dark btn">
                    <input type="number" min="1" max="@(Model.Product.ProductStock)" value="1" id="product-quantity" class="val form-control text-center" readonly>
                    <input type="button" value="+" class="increaseVal btn-outline-dark btn">
                </div>
                <div class="d-flex justify-content-start">
                    <div>
                        <label class="form-label mt-3">Choose Size</label>
                        <select class="form-select product-dropdown" id="product-size" aria-label="option">
                            @foreach (var obj in Model.ProductSizeOptions)
                            {
                                <option value="@obj.OptionId">@obj.OptionName</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label class="form-label mt-3 ms-3">Choose Color</label>
                        <select class="form-select ms-3 product-dropdown" id="product-color" aria-label="option">
                            @foreach (var obj in Model.ProductColorOptions)
                            {
                                <option value="@obj.OptionId">@obj.OptionName</option>
                            }
                        </select>
                    </div>
                </div>
            }
            else
            {
                <p class="text-danger bg-gradient badge bg-dark">Out of Stock</p>
            }
            <p class="text-danger mt-3">@TempData["message"]</p>
            <p class="text-success mt-3">@TempData["success message"]</p>
            
            <div class="d-flex justify-content-start">
                <form class="d-inline-block" method="get" action="@Url.Action("AddtoCart","Products")">
                    <input type="hidden" class="visually-hidden" name="id" id="cart-id" value="@Model.Product.ProductId" />
                    <input type="hidden" class="visually-hidden" id="cart-quantity" name="quantity" value="" />
                    <input type="hidden" class="visually-hidden" id="cart-color" name="color" value="" />
                    <input type="hidden" class="visually-hidden" id="cart-size" name="size" value="" />
                    <button type="submit" class="btn bg-gradient btn-warning btn-lg mt-4 me-4 buy-button product-buttons @(Model.Product.ProductLive != 0 ? "": "disabled")">Buy<span class="fa fa-shopping-bag ms-3"></span></button>
                </form>
                <form class="d-inline-block" method="post" action="@Url.Action("AddtoWishlist","Products")">
                    <input type="hidden" class="visually-hidden" name="id" id="wishlist-id" value="@Model.Product.ProductId" />
                    <button type="submit" class="btn bg-gradient btn-danger btn-lg mt-4 product-buttons">Wishlist <span class="far fa-heart ms-3"></span></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <h4>Share this Product</h4>
    <div class="addthis_inline_share_toolbox mb-3"></div>
    <nav>
        <div class="nav nav-tabs bg-dark" id="nav-tab" role="tablist">
            <a class="nav-link text-uppercase text-warning active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
            <a class="nav-link text-uppercase text-warning" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-additional-info" role="tab" aria-controls="nav-additional-info" aria-selected="false">Additional information</a>
            <a class="nav-link text-uppercase text-warning" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</a>
        </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
            <div class="text-md-start">@(Html.Raw(Model.Product.ProductLongDesc))</div>
        </div>
        <div class="tab-pane fade" id="nav-additional-info" role="tabpanel" aria-labelledby="nav-additional-info-tab">
            <p class="text-md-start">
                <button class="btn btn-secondary me-3 product-buttons" disabled>Size</button>
                @foreach (var obj in Model.ProductSizeOptions)
                {
                    <span class="badge bg-gradient text-white bg-dark">@obj.OptionName</span>
                }
            </p>
            <p class="text-md-start">
                <button class="btn btn-secondary me-3 product-buttons" disabled>Color</button>
                @foreach (var obj in Model.ProductColorOptions)
                {
                    <span class="badge bg-gradient text-white bg-dark">@obj.OptionName</span>
                }
            </p>
            <p class="text-md-start">
                <button class="btn btn-secondary me-3 product-buttons" disabled>Weight</button>
                  <span class="badge bg-gradient text-white bg-dark">@Model.Product.ProductWeight KG</span>
            </p>
        </div>
        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-reviews-tab">
            <div>
                <div class="row justify-content-start">
                    <h3>Reviews</h3>
                    <div class="d-flex justify-content-between">
                        <p>Place an order to give reviews</p>
                        <p>Total Review:  @ViewBag.TotalReview</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-3">
                    <div class="col-md-3">
                        <h4><span class="bg-success bg-gradient badge">Best</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @(ViewBag.BestReview + "%")" aria-valuenow="@ViewBag.BestReview" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-3">
                    <div class="col-md-3">
                        <h4><span class="bg-primary bg-gradient badge">Better</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: @(ViewBag.BetterReview + "%")" aria-valuenow="@ViewBag.BetterReview" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-3">
                    <div class="col-md-3">
                        <h4><span class="bg-info bg-gradient badge">Good</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: @(ViewBag.GoodReview + "%")" aria-valuenow="@ViewBag.GoodReview" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-start align-items-center align-content-center mt-3">
                    <div class="col-md-3">
                        <h4><span class="bg-danger bg-gradient badge">Not Good</span></h4>
                    </div>
                    <div class="col-md-6">
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: @(ViewBag.NotGoodReview + "%")" aria-valuenow="@ViewBag.NotGoodReview" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h5>SIMILAR PRODUCTS</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @foreach (var obj in Model.SimilarProducts)
            {
                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product" asp-route-id="@obj.ProductId">
                    <div class="card product-card-owl product-card-owl-lg">
                        <img src="@(obj.ProductImage.Length == 0 ? "/images/img_preview.png" : obj.ProductImage)" class="card-img card-img-top" alt="@obj.ProductName">
                        <div class="card-img-overlay">
                            <div class="d-flex justify-content-between align-items-start">
                                <span class="bg-info bg-gradient badge fw-bold text-white">@obj.ProductCategory.CategoryName</span>
                                <span class="far fa-heart text-danger fa-2x text-decoration-none"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-decoration-none">@obj.ProductName</h5>
                            <div class="card-text text-muted">@Html.Raw(obj.ProductShortDesc)</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="fw-bold text-decoration-none">BDT @obj.ProductPrice</h5>
                                <div class="btn btn-warning bg-gradient">Buy<span class="fa fa-shopping-bag ms-3"></span></div>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>


<div class="container mt-5">
    <h5>MORE VARIENT PRODUCTS</h5>
    <div class="row">
        <div class="owl-carousel owl-theme">
            @foreach (var obj in Model.VarientProducts)
            {
                <a class="text-decoration-none" asp-area="" asp-controller="Products" asp-action="Product" asp-route-id="@obj.ProductId">
                    <div class="card product-card-owl product-card-owl-lg">
                        <img src="@(obj.ProductImage.Length == 0 ? "/images/img_preview.png" : obj.ProductImage)" class="card-img card-img-top" alt="@obj.ProductName">
                        <div class="card-img-overlay">
                            <div class="d-flex justify-content-between align-items-start">
                                <span class="bg-info bg-gradient badge fw-bold text-white">@obj.ProductCategory.CategoryName</span>
                                <span class="far fa-heart text-danger fa-2x text-decoration-none"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="text-decoration-none">@obj.ProductName</h5>
                            <div class="card-text text-muted">@Html.Raw(obj.ProductShortDesc)</div>
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="fw-bold text-decoration-none">BDT @obj.ProductPrice</h5>
                                <div class="btn btn-warning bg-gradient">Buy<span class="fa fa-shopping-bag ms-3"></span></div>
                            </div>
                        </div>
                    </div>
                </a>

            }
        </div>
    </div>
</div>